@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    font-size: 62.5%;
}
:root {
    --guide-outline: 1.5px solid white;
}
body {
    height: 100vh;
    background: url(images/bg-mobile.svg) no-repeat;
    background-color: hsl(257, 40%, 49%);
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}
/* Base styles end here */



/* Landing page design */

/* Logo section */
.logo {
    display: block;
    height: 100px;
    width: 130px;
    margin-left: 3rem;
}

/* Main content of landing page */
.master {
    position: relative;
    top: 2%;
    left: 3.5%;
    display: inline-grid;
    grid-template-columns: 350px;
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    grid-auto-columns: none;
    gap: 1rem;
}

/* mockup-image section */
.mockup-image {
    position: relative;
    bottom: 1%;
    left: 3%;
    height: 83%;
    width: 90%;
}

/* Landing page text section */
.body-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-heading {
    width: 20ch;
    white-space: wrap;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: hsl(255, 100%, 100%);
}
.slogan-text {
    padding-top: 1.5rem;
    width: 33ch;
    white-space: wrap;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;
    color: hsl(255, 100%, 100%);
}
.register-btn {
    width: 200px;
    margin-top: 2.2rem;
    padding: 1.1rem;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 5px 5px 0 hsla(255, 100%, 0%, 0.2);
    transition: background-color 0.3s, color 0.3s;
}
.register-btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(255, 100%, 100%);
}


/* Icons section */
.icons-container {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.media-link {
    height: 3.3rem;
    width: 3.3rem;
    font-size: 1.9rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: hsl(255, 100%, 100%);
    transition: border 0.2s, color 0.2s;
}
.media-link:hover {
    color: hsl(300, 80%, 61%);
    border: 1px solid hsl(300, 80%, 61%);
}
.padding--offset {
    padding-left: 0.3rem;
}

/* Tablet responsiveness */
@media screen and (450px < width < 1000px ){
    body {
        background: url(images/bg-desktop.svg) no-repeat;
        background-color: hsl(257, 40%, 49%);
    }

    /* Logo section */
    .logo {
        position: relative;
        top: 2%;
        left: 4%;
        height: 100px;
        width: 200px;
    }

    /* Main content of landing page */
    .master {
        position: relative;
        top: 7%;
        left: 4.5%;
        display: inline-grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(200px, 1fr));
        grid-template-areas: 
        'slogan'
        'mockup-image';
        gap: 2rem;
    }
    .mockup-image {
        height: 75%;
        width: 75%;
        position: relative;
        bottom: 4%;
        grid-area: mockup-image;
        object-fit: contain;
        justify-self: center;
    }

    /* Landing page text section */
    .text-heading {
        line-height: 1.4;
        font-size: 3.5rem;
    }
    .slogan-text {
        width: 45ch;
        white-space: wrap;
    }

    /* Icons section */
    .icons-container {
        position: relative;
        top: 2%;
        display: flex;
        justify-content: center;
    }

    /* Landing page text section */
    .register-btn {
        font-size: 1.4rem;
    }
}


/* Desktop responsiveness */
@media screen and (width >= 1000px){
    body {
        background: url(images/bg-desktop.svg) no-repeat;
        background-color: hsl(257, 40%, 49%);
    }
    /* Logo section */
    .logo {
        position: relative;
        top: 4.5%;
        left: 4%;
        height: 100px;
        width: 200px;
    }

    /* Main content of landing page */
    .master {
        position: relative;
        top: 11%;
        left: 7%;
        display: inline-grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-template-rows: 1fr;
        gap: 7rem;
    }
    .mockup-image {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    /* Landing page text section */
    .body-text-container {
        position: relative;
        top: 9%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .text-heading, .slogan-text {
        text-align: start;
    }
    .text-heading {
        line-height: 1.4;
        font-size: 4rem;
    }
    .slogan-text {
        width: 50ch;
        white-space: wrap;
    }
    .register-btn {
        width: 170px;
        font-size: 1.5rem;
    }

    /* Icons section */
    .icons-container {
        position: relative;
        top: 14%;
        right: 7.5%;
        display: flex;
        justify-content: flex-end;
    }
}
